body{
    font-family: 'Indie Flower', cursive;
}

a { 
    text-decoration: none;
 }

header{
    text-align:center;
    font-size: 50px ;
    margin: 1em;
}

section, footer {
    text-align:center;
    margin: 2em;
}