body {
    font-family: 'Indie Flower', cursive;
    text-align:center;
}

header > ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin: 1em;
    /* position: fixed;
    top: 0; */
}

h1 {
    color: #fbcf13;
    text-align:center;
}

.orange {
    color:#fb9c8e;
    text-align:center;
}

.green {
    color:#7fa84c;
    text-align: center;
}

.blue {
    color:#3f6db3;
    text-align: center;
}

.grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


li {
    margin-left: auto;
}

a {
    color: black;
    text-decoration: none;
}

.grow { 
    transition: all .1s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

.transparent {
    opacity: 0.7; /*  CSS3  */
    filter(opacity=60);  /*  Pour IE  */
 }

section, div, footer, nav {
    text-align:center;
    margin: 2em;
}
