body {
    font-family: 'Indie Flower', cursive;
    text-align:center;
}

.container{
    width: all;
    height: all;
    border: 2px solid lightgrey;
    border-radius: 25px;
    box-shadow: 5px 10px rgb(241, 241, 241);
    padding: 1em;
    margin: 1em;
}


.yellow {
    color: #fbcf13;
    text-align:center;
}

.orange {
    color:#fb9c8e;
    text-align:center;
}

.green {
    color:#7fa84c;
    text-align: center;
}

.blue {
    color:#3f6db3;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

